
.container{
    margin-bottom: 100px;
    padding: 10px 20px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}

.price{
    color: cyan;
}

.buy-now-button{

    background-image: linear-gradient(to bottom, #FF589b 0%, #FF136F 100%);
    color:#fff;
    border: none;
    border-radius: 8%;
    padding: 9px 25px;
    cursor: pointer;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 12px;

}

.cat1{
    background-color: aqua;
   
}
.cat2{
    background-color: blue;
 
}
.cat3{
    background-color: coral;
    
    
}

.categories h1{
    color: whitesmoke;
}

.categories img{
    width: 100px;
}

.card{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightsalmon;
}

.card-group{
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 10px lightsalmon;
}

#Subscribe h6{
    color: gray;
}

footer{
    text-align: center;
}